.App {
  font-family: "Indie Flower", cursive;
  position: relative;
}
body {
  /* width: 100vh; */
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #999999;
}

a:hover {
  color: black;
}

.nav-box {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
