$phone: "Only screen and (max-width : 767px)";
$tablet: "Only screen and (min-width : 768px)";
$desktop: "Only screen and (min-width : 1024px)";

@media #{$phone} {
  .diary {
    .nav-box {
      display: flex;
      justify-content: center;
    }
    .body-box {
      display: flex;
      flex-direction: column-reverse;
      font-family: sans-serif;
      // margin: 0 350px;
      justify-content: center;
      .diary-section {
        flex: 1;
        margin: 10px;
        font-family: Do Hyeon, sans-serif;
        min-width: 345px;
        // background-color: lightcoral;
        .diary-box {
          padding-bottom: 30px;
          margin-bottom: 30px;
          border-bottom: 1px solid lightgray;
          img {
            max-width: 100%;
          }
          p {
          }
          .writer {
            display: flex;
            align-items: center;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin-right: 8px;
            }
            .writerInfo {
              p {
                margin: 0 8px;
                padding: 0;
              }
              div {
                display: flex;
                align-items: center;
                p {
                  margin: 0 8px;
                  padding: 0;
                }
                .like {
                  display: flex;
                  align-items: center;
                  p {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media #{$tablet} {
  .diary {
    .nav-box {
      display: flex;
      justify-content: center;
    }
    .body-box {
      display: flex;
      font-family: sans-serif;
      margin: 0 350px;
      justify-content: center;
      .diary-section {
        flex: 1;
        margin: 0 10px;
        font-family: Do Hyeon, sans-serif;
        min-width: 400px;
        // background-color: lightcoral;
        .diary-box {
          padding-bottom: 30px;
          margin-bottom: 30px;
          border-bottom: 1px solid lightgray;
          img {
            max-width: 100%;
          }
          p {
          }
          .writer {
            display: flex;
            align-items: center;
            img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              margin-right: 8px;
            }
            .writerInfo {
              p {
                margin: 0 8px;
                padding: 0;
              }
              div {
                display: flex;
                align-items: center;
                p {
                  margin: 0 8px;
                  padding: 0;
                }
                .like {
                  display: flex;
                  align-items: center;
                  p {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media #{$desktop} {
  .diary {
    .nav-box {
      display: flex;
      justify-content: center;
    }
    .body-box {
      display: flex;
      font-family: sans-serif;
      margin: 0 350px;
      justify-content: center;
      .diary-section {
        flex: 1;
        margin: 0 30px;
        font-family: Do Hyeon, sans-serif;
        min-width: 450px;

        .diary-box {
          padding-bottom: 30px;
          margin-bottom: 30px;
          border-bottom: 1px solid lightgray;
          img {
            max-width: 100%;
          }
          p {
          }
          .writer {
            display: flex;
            align-items: center;
            img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              margin-right: 8px;
            }
            .writerInfo {
              p {
                margin: 0 8px;
                padding: 0;
              }
              div {
                display: flex;
                align-items: center;
                p {
                  margin: 0 8px;
                  padding: 0;
                }
                .like {
                  display: flex;
                  align-items: center;
                  p {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
