$phone: "Only screen and (max-width : 767px)";
$tablet: "Only screen and (min-width : 768px)";
$desktop: "Only screen and (min-width : 1024px)";

@media #{$phone} {
  .home {
    .nav-box {
      display: flex;
      justify-content: center;
    }
    .body-box {
      display: flex;
      flex-direction: column-reverse;
      font-family: sans-serif;
      // margin: 0 350px;
      justify-content: center;
      .home-section {
        h1 {
          margin: 0 0 10px;
          padding: 0;
        }
        flex: 1;
        margin: 10px;
        font-family: Architects Daughter, cursive;
        min-width: 345px;
        .album_box {
          text-align: center;
          border: 1px solid lightgray;
          margin-bottom: 20px;
          img {
            width: 90%;
          }
        }
      }
    }
  }
}
@media #{$tablet} {
  .home {
    .nav-box {
      display: flex;
      justify-content: center;
    }
    .body-box {
      display: flex;
      font-family: sans-serif;
      margin: 0 350px;
      justify-content: center;
      .home-section {
        h1 {
          margin: 0 0 10px;
          padding: 0;
        }
        flex: 1;
        margin: 0 10px;
        font-family: Architects Daughter, cursive;
        min-width: 450px;
        .album_box {
          text-align: center;
          border: 1px solid lightgray;
          margin-bottom: 20px;
          img {
            width: 300px;
          }
        }
      }
    }
  }
}
@media #{$desktop} {
  .home {
    .nav-box {
      display: flex;
      justify-content: center;
    }
    .body-box {
      display: flex;
      font-family: sans-serif;
      margin: 0 350px;
      justify-content: center;
      .home-section {
        h1 {
          margin: 0 0 10px;
          padding: 0;
        }
        flex: 1;
        margin: 0 30px;
        font-family: Architects Daughter, cursive;
        min-width: 450px;
        .album_box {
          text-align: center;
          border: 1px solid lightgray;
          margin-bottom: 20px;
          img {
            width: 100%;
            max-width: 600px;
          }
        }
      }
    }
  }
}
