$phone: "Only screen and (max-width : 767px)";
$tablet: "Only screen and (min-width : 768px)";
$desktop: "Only screen and (min-width : 1024px)";

@media #{$phone} {
  .notice {
    .nav-box {
      display: flex;
      justify-content: center;
    }
    .body-box {
      font-family: sans-serif;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      // width: 100%;
      aside {
        width: 100%;
      }
      .notice-contents {
        width: 100%;
        min-width: 300px;
        flex: 1;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        margin: 30px 10px;
        .notice-list {
          width: 100%;
          border: none;
          border-top: 1px solid lightgray;
          border-bottom: 1px solid lightgray;
          .list-ul {
            min-width: 364px;
          }
          ul {
            margin: 0;
            padding: 0;
            width: 100%;
            li {
              display: flex;
              width: 100%;
              h5 {
                padding: 12px;
                margin: 0;
              }
              .title {
                flex: 1;
                text-align: center;
              }
              .date {
                text-align: center;
                padding: 12px 20px;
              }
            }
          }
          .createNotice {
            margin: 20px 0;
            display: flex;
            justify-content: flex-end;
            button {
              background: transparent;
              outline: none;
              // border: none;
              padding: 6px 10px;
              border-radius: 4px;
              cursor: pointer;
              font-family: Do Hyeon, sans-serif;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media #{$tablet} {
  .notice {
    .nav-box {
      display: flex;
      justify-content: center;
    }
    .body-box {
      display: flex;
      font-family: sans-serif;
      margin: 0 350px;
      justify-content: center;
      .notice-contents {
        flex: 1;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        margin: 0 10px;
        .notice-list {
          width: 100%;
          border: none;
          border-top: 1px solid lightgray;
          border-bottom: 1px solid lightgray;
          .list-ul {
            min-width: 450px;
          }
          ul {
            margin: 0;
            padding: 0;
            li {
              display: flex;
              width: 100%;
              h5 {
                padding: 12px;
                margin: 0;
              }
              .title {
                flex: 1;
                text-align: center;
              }
              .date {
                text-align: center;
                padding: 12px 20px;
              }
            }
          }
          .createNotice {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
            button {
              background: transparent;
              outline: none;
              // border: none;
              padding: 6px 10px;
              border-radius: 4px;
              cursor: pointer;
              font-family: Do Hyeon, sans-serif;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media #{$desktop} {
  .notice {
    .nav-box {
      display: flex;
      justify-content: center;
    }
    .body-box {
      display: flex;
      font-family: sans-serif;
      margin: 0 350px;
      justify-content: center;
      .notice-contents {
        flex: 1;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        margin: 0 30px;
        .notice-list {
          width: 100%;
          border: none;
          border-top: 1px solid lightgray;
          border-bottom: 1px solid lightgray;
          .list-ul {
            min-width: 450px;
          }
          ul {
            margin: 0;
            padding: 0;
            li {
              display: flex;
              width: 100%;
              h5 {
                padding: 12px;
                margin: 0;
              }
              .title {
                flex: 1;
                text-align: center;
              }
              .date {
                text-align: center;
                padding: 12px 20px;
              }
            }
          }
          .createNotice {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
            button {
              background: transparent;
              outline: none;
              // border: none;
              padding: 6px 10px;
              border-radius: 4px;
              cursor: pointer;
              font-family: Do Hyeon, sans-serif;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
